$white: #fafafa;

body{
    header{
        nav{
            color: $white;
            input{
                width:50%;
            }
        }
    }
    main{
        .carousel .slide{
            .carousel .inner{
                .chamada{
                    width: ;
                    height: 500px;
                }
            }
        }
    }
}